/*https://coolors.co/335c67-fff3b0-90c2e7-9e2a2b-450709*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Work Sans';
    width: 100%;
    margin: 0 auto; 
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header{
    display: flex;
    background-color: #335C67;
    height: auto;
    width:100%;
    justify-content: space-between;
    margin: 0 auto;
    transition: padding 350ms ease-in-out;
}
.apple-icon{
    filter: grayscale(100%) brightness(500%);
    padding-right: 20px;
    padding-left: 15px;
    scale: 200%;
    position: absolute;
}
.page-title{
    justify-self: flex-start;
    color: #FFFF;
    padding-left: 20px;
    margin-top: 23px;
    display: flex;
}
.title{
    margin-left: 70px;
}
.nav-collapse{
    justify-self: flex-end;
    font-size: 30px;
    padding: 15px;
    transition: all 350ms ease-in-out;
}
a{
    text-decoration: none;
    color:#FFFF;
}
main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 97%;
}
.header{
    text-align: center;
}
li{
    font-size: 20px;
}
.schedule{
    margin: 20px;
    padding: 10px;
    color: #450709;
    background-color: #90C2E7;
    border-radius: 15px;
    border-top: 10px solid;
    border-color: #335C67;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.picture-card{
    width: 95%; 
    align-self: center;
}
figure{
    margin: 0;
    padding: 0;
}
figcaption{
    color: #335C67;
}
@keyframes get-bigger {
    0%{}
    100%{transform: scale(1.05);}
}
.picture:hover, .picture:focus{
    animation: get-bigger 350ms forwards;
}
.picture{
    height: 200px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    object-fit: cover;
}
.links{
    background-color: #90C2E7;
    margin: 20px;
    padding-left: 10px;
    color: #450709;
    border-radius: 15px;
    border-top: 10px solid;
    border-color: #335C67;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link{
    color: #450709;
}
footer{
    background-color: #450709;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer-text{
    padding-left: 15px;
    font-size: 20px;
}
@media screen and (min-width: 750px) {
    main{
        flex-direction: row;
        justify-content: space-around;
    }
    .schedule{
        width: 30%;
    }
    .picture-card{
        width: 30%;
    }
    .picture{
        margin-top: 20px;
        height: 500px;
    }
    .links{
        width: 30%;
    }
}